<section class="heading-section ">
          <h1 class="title has-text-centered">TODO LIST</h1>
</section>

<div class="container">
          <div class="add-todo-box">
                    <form>
                              <h2 class="title is-5">new todo</h2>
                              <div class="field is-grouped">
                                        <p class="control is-expanded">
                                                  <input class="input" type="text" placeholder="Type todo text here ....">
                                        </p>
                                        <p class="control">
                                                  <button class="button alt-gradient-button">
                                                            <i class="material-icons">add</i>
                                                            Add
                                                  </button>
                                        </p>
                              </div>
                    </form>
          </div>
</div>
<div class="section section">
          <div class="container">
                    <div class="todo-list">
                              <div class="todo-item completed">
                                        <div class="check-box">
                                                  <i class="material-icons">check</i>
                                        </div>
                                        <div class="todo-text">
                                                  Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
                                        </div>
                              </div>
                              <div class="todo-item">
                                        <div class="check-box">
                                                  <i class="material-icons">check</i>
                                        </div>
                                        <div class="todo-text">
                                              one line text
                                        </div>
                                        
                                        <div class="todo-controls-box">
                                          <div class="todo-control-button">
                                                <i class="material-icons">edit</i>
                                          </div>
                                          
                                          <div class="todo-control-button">
                                                <i class="material-icons">delete</i>
                                          </div>
                                        </div>
                              </div>
                    </div></div>
</div>